<ion-header>
  <ion-navbar>
    <ion-buttons end>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>
      Bullet Journal
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    {{ monthNames[date.getMonth()] }}
  </p>
  <p>
    {{ date.getDate() + " || " + dayNames[date.getDay()] }}
  </p>
  <ion-list>

    <span *ngIf="tasks.length > 0">
        <ion-item *ngFor="let task of tasks; let i=index">
          <h2>{{ task.name }}</h2>
          <p>{{ task.desc }}</p>
        </ion-item>
    </span>

    <ion-item *ngIf="tasks.length == 0">
      <h2>No Tasks</h2>
    </ion-item>

    <ion-item>
      <h2>Does Entry Exist?</h2>
      <p *ngIf="todayEntryExists" >True</p>
      <p *ngIf="!todayEntryExists" >False</p>
    </ion-item>

  </ion-list>
  <button ion-button (click)="addTask()">Add Task</button>
  <button ion-button (click)="loadEntry()">Load Entry</button>
  <button ion-button (click)="deleteTasks()">Delete All Tasks</button>
  <ion-list>
    <ion-item *ngFor="let entry of entries; let i=index">
        <h2>Rowid: {{ entry.rowid}}</h2>
        <p>Date: {{ entry.date }}</p>
    </ion-item>
  </ion-list>
</ion-content>
