<ion-header>
  <ion-navbar>

    <ion-buttons left>
      <!--
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      -->
    </ion-buttons>

    <ion-title>
      Bullet Journal
    </ion-title>


  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-12 style="text-align: center;">
        <h3><em>{{ monthNames[date.getMonth()] + " " + date.getFullYear()}}</em></h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <h3><span class="day">{{ date.getDate() }}</span><span class="dayOfWeek">{{ dayNames[date.getDay()] }}</span></h3>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-list>

      <span *ngIf="this.sqliteService.tasks.length > 0">
        <div [dragula]="dragulaName" style="background-color: transparent !important;">
          <ion-item no-lines *ngFor="let task of this.sqliteService.tasks; let i=index" [ngClass]="{ 'taskChild': task.parent_Task_id != -1, 'taskParent': task.parent_Task_id == -1 }" [attr.id]="'task_' + task.rowid">
            <ion-checkbox item-start
              [checked]="task.completed == 1"
              (ionChange)="changeCompleted(task)"
              left>
            </ion-checkbox>

            <div item-content >
              <ion-chip  [ngStyle]="{'background-color': task.color}">
                <ion-icon [name]="task.icon"></ion-icon>
                <ion-label>{{ task.name }}</ion-label>
              </ion-chip>
            </div>

          </ion-item>

        </div>
      </span>

      <ion-item *ngIf="this.sqliteService.tasks.length == 0">
          <h2>No Tasks</h2>
      </ion-item>

    </ion-list>

    <button ion-button block (click)="openChart()">Chart</button>

  <ion-fab right bottom #fab>

    <button ion-fab color="secondary" (click)="createNewTask()">
      <ion-icon name="add"></ion-icon>
    </button>

  </ion-fab>


  <ion-fab>
    <button ion-fab color="danger" [ngClass]="{ 'fabDeleteDisplay': fab_delete_display == true, 'fabDeleteHide': fab_delete_display == false }" id="delete_fab">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab style="opacity: 0;">
    <button ion-fab style="position: fixed; right: 10px; bottom: 76px" [dragula]="dragulaName" id="delete_task">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>


  <ion-fab>
    <button ion-fab color="primary" [ngClass]="{ 'fabEditDisplay': fab_edit_display, 'fabEditHide': !fab_edit_display }"  id="edit_fab">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab style="opacity: 0;">
    <button ion-fab style="position: fixed; right: 10px; bottom: 142px" [dragula]="dragulaName" id="edit_task">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
